node_modules
.next
out
build
*.tar
*.tar.gz
.git
.gitignore
.dockerignore
README.md
LICENSE
.vscode
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*
blog
game
db
.deploy.lock
*.tsbuildinfo
next-env.d.ts
